{% extends 'basepage.html' %}

{%  block content %}

<center>
<style>
  h3 {
    color: red;
    font-weight: bold;
  }

    .red-bold {
    color: red;
    font-weight: bold;
  }
</style>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
{{ form }}

    {%  if user.is_authenticated %}
          <table class="table table-bordered table-condensed">
            <tr>
              <td>
                {% load static %}
                <img src="{% static 'logotot.png' %}" alt="Website-Logo" style="width: 450px;margin: 20px;">
              </td>
              <td style="padding: 50px;">
                  Diabetica is the right place for to prevent yourself from diabetic,
                  it's a platform that provides you with :
                  <ul class="list-group" style="margin:50px">
                    <li class="list-group-item">Mangement of your appointments</li>
                    <li class="list-group-item">Track your blood sugar</li>
                    <li class="list-group-item">Track your weight</li>
                    <li class="list-group-item">Add a diet</li>
                    <li class="list-group-item">Good exercieses plans</li>
                  </ul>
              </td>
            </tr>


        {%  else %}

    {% load static %}
    <img src="{% static 'logotot.png' %}" alt="My image" style="width:450px">
        <h2>Diabetica all in one app against diabets</h2>


        <div  class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" onclick= "location.href= '/members/login_user/'" type="button">Log In Here</button>
  <button class="btn btn-primary" onclick= "location.href= '/members/register/'" type="button">Register User</button>
    </div>


    {% endif %}




</center>
{% endblock %}