{% extends 'basepage.html' %}

{% block content %}

<h4>Create an Account</h4>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="form-group">
                {% csrf_token %}
                <table class="table table-borderless">
                    {{ form.as_table }}
                </table>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
